<app-navbar></app-navbar>
<div class="container">
  
  <div class="row mt-3">
    <div class="col-md-6">
      <h2>Reservation list of Booking:</h2>
    </div>
    <div class="col-md-6">
      <button class="btn btn-success float-right btn-block mb-3"><a [routerLink]="['/establishment/' + id +'/booking/create']">Create booking</a></button>
      
    </div>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Numbers</th>
        <th>Date (Start)</th>
        <th>Date (End)</th>
        <th>Update</th>
        <th>Suprimer</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let booking of booking; let i = index">
        <tr>
          <td>{{booking.numbers}}</td>
          <td>{{booking.date.start}}</td>
          <td>{{booking.date.end}}</td>
          <td><button type="button" class="btn btn-outline-success"><a [routerLink]="['/booking/' + booking._id + '/update']">Update</a></button></td>
          <td><button (click)="deleteBooking(booking._id, i)" type="button" class="btn btn-outline-danger">Delete</button></td>
        </tr>
      </ng-container>  
    </tbody>
  </table>
  
</div>
<app-footer></app-footer>