<div class="card">
    <div class="card-body">
      <h5 class="card-title d-flex justify-content-center">More About restaurants</h5>
      <ng-container *ngFor="let establishment of establishment.medias | slice:0:1">
        <img [src]="establishment.url" class="img-fluid mb-5" alt="image establishment">
    </ng-container>
    <h3 class="media-heading d-flex justify-content-center">{{establishment.name}}</h3>
    <div class="col-sm-12 mb-3">
        <p><strong>Content : </strong></p>
        <p class="card-text mt-3">{{establishment.description}}</p>
    </div>
    
    <hr>
    
    <div>
        <p class="card-text"><strong>Phone : </strong>{{establishment.contact.phone}}</p>
    </div>
    <div >
        <p class="card-text"><strong>Email : </strong>{{establishment.contact.email}}</p>
    </div>
    <div >
        <p class="card-text"><strong>City : </strong>{{establishment.address.city}}</p>
    </div>
    <div>
        <p class="card-text"><strong>Number : </strong>{{establishment.address.number}}</p>
    </div>
    <div>
        <p class="card-text"><strong>Street : </strong>{{establishment.address.street}}</p>
    </div>
    <div>
        <p class="card-text"><strong>ZipCode : </strong>{{establishment.address.zipCode}}</p>
    </div>
    <div class="mt-5"><h4>Follow us on the social network</h4></div>
        
        <ng-container *ngFor="let establishment of establishment.networks">
            <div>
                <p>{{establishment.name}}</p>
            </div>
            <div>
                <p>{{establishment.link}}</p>
            </div>
        </ng-container>
</div>
      
    </div>
 

        <button class="btn btn-outline-success d-flex justify-content-center"><a
            [routerLink]="['/establishment/' + establishment._id + '/booking/create']">Reservation</a>
    </button>
		





   





    