
<app-navbar></app-navbar>

<div class="card-body">
  <figure class="snip1336">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
    <figcaption>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample4.jpg" alt="profile-sample4" class="profile" />
      <h2>{{profile?.firstName}} {{profile?.lastName}}<span>{{profile?.key}}</span></h2>
      <p> {{profile?.contact.email}} </p>
      <button type="button" class="btn btn-success mr-2"><a [routerLink]="['/profile/update']">Update</a></button>
      <button type="button" class="btn btn-danger ml-2">Delete</button>
    </figcaption>
  </figure>
</div>

<app-footer></app-footer>