span {
    color: #589442;
    font-weight: bold;
    
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
}

a {
    color: white;
}

.card {
    border: 3px solid rgba(141, 201, 230, 0.4);
}

.picture{
    width: 100px;
}

.cadreProfile {
    margin-left: 400px;
    margin-right: 400px;
}