  <app-carousel></app-carousel>
  
  <div class="container mb-5">

    <div *ngIf="user; then thenBlock else elseBlock"></div>
    
    <ng-template #thenBlock>
      
      <!-- Début code de la search barre -->
      <div class="search">
        <!-- Appel du composant searchbar -->
        <app-searchbar></app-searchbar>
        <div class="col-12 m-3">
          <div class="alert alert-danger m-4 text-center"
          *ngIf="establishment &&(establishment | filter:filterData).length === 0">
          <h3>No establishment found <span *ngIf="filterData"> with search "{{filterData}}"</span></h3>
        </div>
      </div>
      <!-- Fin code search barre -->
      
      <div class="bar">
        <h2 class="text-center m-4">Bars</h2>
      </div>
      
      <div class="row">
        <ng-container *ngFor="let establishment of establishment | filter:filterData; ">
          <div *ngIf="establishment.type == 'Bar'" class="col-md-6 col-xl-3 mt-4">
            <div class="card">
              <div class="hovereffect">
                <ng-container *ngFor="let image of establishment.medias">
                  <img [src]="image.url" class="img-fluid card-img-top p-1" alt="image establishment">
                </ng-container>
                
                <div class="overlay">
                  <h2 class="info"><a
                    [routerLink]="['/establishment/detail/' + establishment._id]">{{establishment.name}}</a></h2>
                  </div>
                  <div class="card-body p-0">
                    <p class="text-center mt-4"><a
                      [routerLink]="['/establishment/detail/ + establishment._id']">{{establishment.name| slice:0:15}}</a>
                    </p>
                    <ngbd-datepicker-popup></ngbd-datepicker-popup>
                    <a class="btn btn-info btn-block mt-3"
                    [routerLink]="['/establishment/ + establishment._id + /booking/create']">Book</a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        
        <div class="bar">
          <h2 class="text-center m-4">Restaurants</h2>
        </div>
        
        <div class="row">
          <ng-container *ngFor="let establishment of establishment | filter:filterData; ">
            <div *ngIf="establishment.type == 'Restaurant'" class="col-md-6 col-xl-3 mt-4">
              <div class="card">
                <div class="hovereffect">
                  <ng-container *ngFor="let image of establishment.medias">
                    <img [src]="image.url" class="img-fluid card-img-top p-1" alt="image establishment">
                  </ng-container>
                  
                  <div class="overlay">
                    <h2 class="info"><a
                      [routerLink]="['/establishment/detail/ + establishment._id']">{{establishment.name}}</a></h2>
                    </div>
                    <div class="card-body p-0">
                      <p class="text-center mt-4"><a
                        [routerLink]="['/establishment/detail/ + establishment._id']">{{establishment.name| slice:0:15}}</a>
                      </p>
                      <ngbd-datepicker-popup></ngbd-datepicker-popup>
                      <a class="btn btn-info btn-block mt-3"
                      [routerLink]="['/establishment/ + establishment._id + /booking/create']">Book</a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-template>
      
      <ng-template #elseBlock>
        
        <div class="search">
          <!--Appel du composant searchbar-->
          <app-searchbar></app-searchbar>
          <div class="col-12 m-3">
            <div class="alert alert-danger m-4 text-center"
            *ngIf="allEstablishment &&(allEstablishment | filter:filterData).length === 0">
            <h3>No establishment found <span *ngIf="filterData"> with search "{{filterData}}"</span></h3>
          </div>
        </div>
        
        <div class="bar">
          <h2 class="text-center m-4">Bars & Restaurants</h2>
        </div>
        
        <div class="row">
          <ng-container *ngFor="let allEstablishment of allEstablishment | filter:filterData; ">
            <div class="col-md-6 col-xl-3 mt-4">
              <div class="card">
                
                <div class="hovereffect">
                  
                  <img
                  src="{{allEstablishment.medias[0]?.url ? allEstablishment.medias[0].url : 'http://teuge-airport.nl/wp-content/uploads/no_image.jpg'}}"
                  class="img-fluid card-img-top p-1" alt="image establishment">
                  
                  <div class="overlay">
                    <h2 class="info"><a
                      [routerLink]="['/establishment/detail/' + allEstablishment._id]">{{allEstablishment.name}}</a>
                    </h2>
                  </div>
                  
                  <div class="card-body p-0">
                    <p class="text-center mt-3"><a
                      [routerLink]="['/establishment/detail/' +  allEstablishment._id]">{{allEstablishment.name| slice:0:15}}</a>
                    </p>
                    <ngbd-datepicker-popup></ngbd-datepicker-popup>
                    <a class="btn btn-info btn-block mt-3"
                    [routerLink]="['/establishment/ + allEstablishment._id + /booking/create']">Book</a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <input type="checkbox" name="toogle" id="toogle" />
        <div id="volet">
          <p class="titleOpen">Best restaurants of week : </p>
          <ng-container *ngFor="let allEstablishment of allEstablishment | slice:0:1 ">
            <img
            src="{{allEstablishment.medias[0]?.url ? allEstablishment.medias[0].url : 'http://teuge-airport.nl/wp-content/uploads/no_image.jpg'}}"
            class="img-fluid card-img-top p-1" alt="image establishment">
            <p>{{allEstablishment.name}}</p>
          </ng-container>
          <label for="toogle">Open</label>
        </div>
      </div>
      
    </ng-template>
    
  </div>
  
  <div class="question mb-5 mt-5">
    <h3 class="mb-5 d-flex justify-content-center">How it works ?</h3>
    <div class="container mb-5 mt-5 d-flex">
      <div >
        <img  class="icone" src="assets/image/map.png">
      </div>
      <div >
        <img  class ="icone-1" src="assets/image/reserv.png">
      </div>
      <div >
        <img  class ="icone-2" src="assets/image/sold.png">
      </div>
    </div>
    <div class="container d-flex">
      <div class="explication" >
        <h6>Discover</h6>
        <p>The most popular restaurants.</p>
      </div>
      <div class="explication-1" >
        <h6>Book</h6>
        <p>Directly according to your desires.</p>
      </div>
      <div class="explication-2" >
        <h6>Benefit</h6>
        <p>Exclusive offers up to -50%.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="pVert">
          <div class="resaTitle">OpenResa is recruiting!</div>
          <div class="resaRecrute">Join us</div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="pJaune">
          <div class="resaFidele">Your loyalty rewarded</div>
          <div class="resaProgramme">Discover your loyalty program</div>
        </div> 
      </div>
    </div>
  </div>
  
  <div class="container download mb-5">
    <div>
      <img class="disponible" src="assets/image/appstore1.png">
    </div>
    <div class="app-title">The reservation as never ! </div>
    <div>
      <img class="phone-img" src="assets/image/Capture du 2019-04-23 17-17-27.png">
    </div>
    <div>
      <img class="disponible" src="assets/image/badge_new.png">
    </div>
  </div>
  