<div class="container">

<form class="mt-5">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
        <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i> Search</button>
      </span>
    </div>
</form>



    <h2 class="text-center m-4">Bar</h2>

    <div class="card-deck">

        <div class="card">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <button type="button" class="btn btn-outline-success">Reserver</button>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <button type="button" class="btn btn-outline-success">Reserver</button>
            </div>
        </div>

        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <button type="button" class="btn btn-outline-success">Reserver</button>
            </div>
        </div>

        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <button type="button" class="btn btn-outline-success">Reserver</button>
            </div>
        </div>


    </div>


    <h2 class="text-center m-4">Restaurant</h2>

    <div class="card-deck">

        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <button type="button" class="btn btn-outline-success">Reserver</button>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <button type="button" class="btn btn-outline-success">Reserver</button>
            </div>
        </div>

        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <button type="button" class="btn btn-outline-success">Reserver</button>
            </div>
        </div>

        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <button type="button" class="btn btn-outline-success">Reserver</button>
            </div>
        </div>


    </div>


</div>
