<div class="input-group">
    <input class="form-control py-2 search" type="search" placeholder="Search" id="example-search-input"
      [(ngModel)]='filterData'>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-secondary drop" id="dropdownBasic1" ngbDropdownToggle>Select
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Bars</button>
            <button ngbDropdownItem>Restaurants</button>
            <button ngbDropdownItem>Bars & Restaurants</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  