<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="pVert">
        <div class="resaTitle">OpenResa recute !</div>
        <div class="resaRecrute">Rejoignez-nous</div>
        <div class="resaOffre">Offre</div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="pJaune">
          <div class="resaFidele">Votre fidélité récompensée</div>
          <div class="resaProgramme">Découvrir votre programme de fidélité</div>
      </div> 
    </div>
  </div>
</div>
<!-- Link vers W3School -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Div container contenant les deux div du footer -->
<div class="container">
  <!-- Div logoSocial contenant les différents logos -->
  <div class="logoSocial">
    <p>Follow us</p>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-youtube"></a>
  </div>
  <!-- Div information contenant les conditions concernant l'alcool et les droits réservés -->
  <div class="information">
    <p class="titreCondition">© 2019 OPEN REZA SAS - All rights reserved</p>
    <p class="condition"> *See condition and validity in the detail of the card of the restaurant. Offers on alcoholic beverages are strictly reserved for adults. Alcohol abuse is dangerous for health. To consume with moderation. The property and Open Reza are not responsible for any abuse. </p>
  </div>
</div>