<!-- Link vers W3School -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Div container contenant les deux div du footer -->
<div class="container">
<!-- Div logoSocial contenant les différents logos -->
  <div class="logoSocial">
    <p>Suivez-nous</p>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-youtube"></a>
  </div>
  <!-- Div information contenant les conditions concernant l'alcool et les droits réservés -->
  <div class="information">
    <p class="titreCondition">© 2019 OPEN REZA SAS - Tous droits réservés</p>
    <p class="condition"> * Voir condition et validité dans le détail de la fiche du restaurant. Les offres sur les boissons alcoolisées sont strictement réservées aux majeurs. L'abus d'alcool est dangereux pour la santé. A consommer avec modération. L'établissement et Open Reza déclinent toute responsabilité en cas d'abus. </p>
  </div>
</div>