<nav class="navbar navbar-expand-lg navbar-light bg-color">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="bordure">
          <img class="logo" src="/assets/image/logo.png">
        </div>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/']">home</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/booking/list']">booking</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/establishment']">Establishment</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/profile']">profile</a>
      </li>
    </ul>
    <h2 class="slogan">the pleasure comes from eating ...</h2>
    <input class="space" type="button" value="Corporate space">
  </div>
</nav>
