.bg-color{
    background-color: #fff;
}


.link{
    
    font-family: Gotham;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2c3037;

}
.logo {
    width: 40%;
    height: 80%;
    border: solid;
    border-color: #3b677c;
}

.line{
    text-align: right;
}
.display{
    display: flex;
}



@media screen and (min-width: 200px) and (max-width: 940px) {
    .slogan { display: none }
    .logo { display: none }
}

header{
 box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(28, 33, 35, 0.7);
    font-size: 20px;
}