<app-navbar></app-navbar>

<div class="container mt-4">

    <h1 class="text-center title-form">Booking Profile</h1>

    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">

        <div formGroupName="date">
            <h2>Date</h2>
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <input [ngClass]="bookingForm.get('date').get('start').errors ? 'is-invalid' : 'is-valid'" class="form-control" placeholder="start" name="start" type="text" formControlName="start">

                        <div class="valid-feedback">
                            <div *ngIf="bookingForm.get('date').get('start')">
                                <span *ngIf="bookingForm.get('date').get('start')">Start is valid</span>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            <div *ngIf="bookingForm.get('date').get('start').errors">
                                <span *ngIf="bookingForm.get('date').get('start').errors.required">Start is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <input [ngClass]="bookingForm.get('date').get('end').errors ? 'is-invalid' : 'is-valid'" class="form-control" placeholder="end" name="end" type="text" formControlName="end">

                        <div class="valid-feedback">
                            <div *ngIf="bookingForm.get('date').get('end')">
                                <span *ngIf="bookingForm.get('date').get('end')">End is valid</span>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            <div *ngIf="bookingForm.get('date').get('end').errors">
                                <span *ngIf="bookingForm.get('date').get('end').errors.required">End is required</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div formGroupName="owner">

            <h2>Owner</h2>

            <div class="form-group">
                <input [ngClass]="bookingForm.get('owner').get('name').errors ? 'is-invalid' : 'is-valid'" class="form-control" placeholder="name" name="name" type="text" formControlName="name">

                <div class="valid-feedback">
                    <div *ngIf="bookingForm.get('owner').get('name')">
                        <span *ngIf="bookingForm.get('owner').get('name')">Name is valid</span>
                    </div>
                </div>
                <div class="invalid-feedback">
                    <div *ngIf="bookingForm.get('owner').get('name').errors">
                        <span *ngIf="bookingForm.get('owner').get('name').errors.required">Name is required</span>
                    </div>
                </div>
            </div>

            <div formGroupName="address">

                <h2>Address</h2>

                <div class="form-group">
                    <input [ngClass]="bookingForm.get('owner').get('address').get('street').errors ? 'is-invalid' : 'is-valid'" class="form-control" placeholder="street" name="street" type="text" formControlName="street">

                    <div class="valid-feedback">
                        <div *ngIf="bookingForm.get('owner').get('address').get('street')">
                            <span *ngIf="bookingForm.get('owner').get('address').get('street')">Street is valid</span>
                        </div>
                    </div>
                    <div class="invalid-feedback">
                        <div *ngIf="bookingForm.get('owner').get('address').get('street').errors">
                            <span *ngIf="bookingForm.get('owner').get('address').get('street').errors.required">Street is required</span>
                        </div>
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-4">
                        <input [ngClass]="bookingForm.get('owner').get('address').get('zipCode').errors ? 'is-invalid' : 'is-valid'" class="form-control" placeholder="street" name="zipCode" type="text" formControlName="zipCode">

                        <div class="valid-feedback">
                            <div *ngIf="bookingForm.get('owner').get('address').get('zipCode')">
                                <span *ngIf="bookingForm.get('owner').get('address').get('zipCode')">ZipCode is valid</span>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            <div *ngIf="bookingForm.get('owner').get('address').get('zipCode').errors">
                                <span *ngIf="bookingForm.get('owner').get('address').get('zipCode').errors.required">ZipCode is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <input [ngClass]="bookingForm.get('owner').get('address').get('city').errors ? 'is-invalid' : 'is-valid'" class="form-control" placeholder="city" name="city" type="text" formControlName="city">

                        <div class="valid-feedback">
                            <div *ngIf="bookingForm.get('owner').get('address').get('city')">
                                <span *ngIf="bookingForm.get('owner').get('address').get('street')">City is valid</span>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            <div *ngIf="bookingForm.get('owner').get('address').get('city').errors">
                                <span *ngIf="bookingForm.get('owner').get('address').get('city').errors.required">City is required</span>
                            </div>
                        </div>
                    </div >

                    <div class="form-group col-md-4">
                        <input [ngClass]="bookingForm.get('owner').get('address').get('number').errors ? 'is-invalid' : 'is-valid'" class="form-control" placeholder="number" name="number" type="text" formControlName="number">

                        <div class="valid-feedback">
                            <div *ngIf="bookingForm.get('owner').get('address').get('number')">
                                <span *ngIf="bookingForm.get('owner').get('address').get('number')">Number is valid</span>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            <div *ngIf="bookingForm.get('owner').get('address').get('number').errors">
                                <span *ngIf="bookingForm.get('owner').get('address').get('number').errors.required">Number is required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div formGroupName="contact">
                <h2>Contact</h2>
                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <input [ngClass]="bookingForm.get('owner').get('contact').get('phone').errors ? 'is-invalid' : 'is-valid'" class="form-control" placeholder="phone" name="phone" type="text" formControlName="phone">
                            <div class="valid-feedback">
                                <div *ngIf="bookingForm.get('owner').get('contact').get('phone')">
                                    <span *ngIf="bookingForm.get('owner').get('contact').get('phone')">Phone is valid</span>
                                </div>
                            </div>
                            <div class="invalid-feedback">
                                <div *ngIf="bookingForm.get('owner').get('contact').get('phone').errors">
                                    <span *ngIf="bookingForm.get('owner').get('contact').get('phone').errors.required">Phone is required</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <input [ngClass]="bookingForm.get('owner').get('contact').get('email').errors ? 'is-invalid' : 'is-valid'" class="form-control" placeholder="email" name="email" type="email" formControlName="email">
                            <div class="valid-feedback">
                                <div *ngIf="bookingForm.get('owner').get('contact').get('email')">
                                    <span *ngIf="bookingForm.get('owner').get('contact').get('email')">Email is valid</span>
                                </div>
                            </div>
                            <div class="invalid-feedback">
                                <div *ngIf="bookingForm.get('owner').get('contact').get('email').errors">
                                    <span *ngIf="bookingForm.get('owner').get('contact').get('email').errors.required">Email is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2>Numbers</h2>

        <div class="form-group">
            <input [ngClass]="bookingForm.get('numbers').errors ? 'is-invalid' : 'is-valid'" class="form-control" placeholder="numbers" name="numbers" type="number" formControlName="numbers">

            <div class="valid-feedback">
                <div *ngIf="bookingForm.get('numbers')">
                    <span *ngIf="bookingForm.get('numbers')">Numbers is valid</span>
                </div>
            </div>
            <div class="invalid-feedback">
                <div *ngIf="bookingForm.get('numbers').errors">
                    <span *ngIf="bookingForm.get('numbers').errors.required">Numbers is required</span>
                </div>
            </div>
        </div>

       

        <button class="btn btn-success btn-block mt-4 mb-5" type="submit">Submit</button>

    </form>
</div>

<app-footer></app-footer>
