

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center mt-4">Change Password</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-sm-offset-3">
      <p class="text-center mb-4">Use the form below to change your password. Your password cannot be the same as your
        username.</p>
      <form method="post" id="passwordForm">
        <input type="email" class="input-lg form-control" name="email" id="email" placeholder="Email"
          autocomplete="off">

        <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-block mt-3"
          data-loading-text="Changing Password..." value="Send">
      </form>
    </div>
    <!--/col-sm-6-->
  </div>
  <!--/row-->
</div>

